#title_column {
   font-weight: bold;
   font-size: 160%;
   text-align: center;
   margin-bottom: 15px;
}

.primary_column {
   float: left;
   display: inline-block;
}

.secondary_column {
   font-size: 120%;
   margin: 10px;
   float: left;
   display: inline-block;
}

#outputs {
   border-left: 2px solid gray;
}

#label_column {
   text-align: left;
}

#value_column {
   text-align: right;
}
