<!DOCTYPE html>
<html>
   <head>
      <meta charset=utf-8 />
      <title>{{ title }}</title>
      <style media="screen,print" type="text/css">
#title_column {
   font-weight: bold;
   font-size: 160%;
   text-align: center;
   margin-bottom: 15px;
}

.primary_column {
   float: left;
   display: inline-block;
}

.secondary_column {
   font-size: 120%;
   margin: 10px;
   float: left;
   display: inline-block;
}

#outputs {
   border-left: 2px solid gray;
}

#label_column {
   text-align: left;
}

#value_column {
   text-align: right;
}
      </style>
   </head>
   <body>

      <div class="primary_column">
         <div id="title_column">Données</div>
	 <div id="label_column" class="secondary_column">
{% for i in fields.inputs %}
            <div>{{ i.get_label() }}</div>
{% endfor %}
	 </div>
	 <div id="value_column" class="secondary_column">
{% for i in fields.inputs %}
            <div>{{ "{:,.1f}".format(i.get_value()).replace(',', ' ').replace('.', ',') }}</div>
{% endfor %}
	 </div>
      </div>

      <div id="outputs" class="primary_column">
         <div id="title_column">Résultat</div>
	 <div id="label_column" class="secondary_column">
{% for o in fields.outputs %}
            <div>{{ o.get_label() }}</div>
{% endfor %}
	 </div>
	 <div id="value_column" class="secondary_column">
{% for o in fields.outputs %}
            <div>{{ "{:,.1f}".format(o.get_value()).replace(',', ' ').replace('.', ',') }}</div>
{% endfor %}
	 </div>
      </div>

   </body>
</html>
